<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Опросы.xma - опросы</title>
    <link href="../../static/css/bootstrap.css" rel="stylesheet">
    <link rel="icon" href="../../static/img/logo.ico" type="image/x-icon">

    <!--    <script src="answers_mock.js"></script>-->
    <!--    <script src="../api.js"></script>-->
    <!--    <script src="surveys.js"></script>-->
</head>
<body>
<br>
<div class="container">
    <div class="row">
        <div class="col"></div>
        <div class="col-xl-9">
            <form>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">AnswerId</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           disabled
                           placeholder="e3e70682-c209-4cac-a29f-6fbed82c07cd">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">QuestionId</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           disabled
                           placeholder="e3e70682-c209-4cac-a29f-6fbed82c07cd">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Номер</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                           placeholder="5">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Текст ответа</label>
                    <input type="text" class="form-control" id="exampleInputPassword1"
                           placeholder="Я люблю шоколад">
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Счетчик ответа</label>
                    <input type="text" class="form-control" id="exampleInputPassword1"
                           disabled
                           placeholder="34">
                </div>
                <button type="submit" class="btn btn-primary">Отправить</button>
            </form>
        </div>
        <div class="col"></div>
    </div>
</div>
<script src="../../static/js/bootstrap.bundle.js"></script>
</body>
</html>